@using Spice.Common
@model IEnumerable<Coupon>

@{
    ViewData[Constant.Title] = Constant.Coupon;
    Layout = Constant.View_Layout;
}
<br />
<br />
<div class="border backgroundWhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Coupon List</h2>
        </div>
        <div class="col-6 text-right">
            <partial name="@Constant.PartialView_CreateButtonPartial" />
        </div>
    </div>
    <div>
        @if (Model.Count() > 0)
        {
            <table class="table table-striped border">
                <thead>
                    <tr class="table-secondary">
                        <th>@Html.DisplayNameFor(m => m.Name)</th>
                        <th>@Html.DisplayNameFor(m => m.Discount)</th>
                        <th>@Html.DisplayNameFor(m => m.MinimumAmount)</th>
                        <th>@Html.DisplayNameFor(m => m.IsActive)</th>
                        <th>@Html.DisplayNameFor(m => m.Picture)</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        var picture = string.Empty;
                        if(item.Picture != null && item.Picture.Length > 0)
                        {
                            picture = "data:image/png;base64," + Convert.ToBase64String(item.Picture);
                        }
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Discount</td>
                            <td>@item.MinimumAmount</td>
                            <td>@Html.DisplayFor(m => item.IsActive)</td>
                            <td>
                                @if (!string.IsNullOrEmpty(picture))
                                {
                                    <img src="@picture" width="100%" />
                                }
                            </td>
                            <td>
                                <partial name="@Constant.PartialView_TableButtonPartial" model="@item.Id" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No Coupons exists...</p>
        }
    </div>
</div>