@using Spice.Common
@model IEnumerable<Category>

@{
    ViewData[Constant.Title] = Constant.Category;
    Layout = Constant.View_Layout;
}
<br /><br />
<div class="border backgroundWhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Category List</h2>
        </div>
        <div class="col-6 text-right">
            <partial name="@Constant.PartialView_CreateButtonPartial" />
        </div>
    </div>
    <div>
        @if (Model.Count() > 0)
        {
            <table class="table table-striped border">
                <thead>
                    <tr class="table-secondary">
                        <th>@Html.DisplayNameFor(m => m.Name)</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>
                                <partial name="@Constant.PartialView_TableButtonPartial" model="@item.Id" />
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <p>No Category exists...</p>
        }
    </div>
</div>