@using Spice.Common
@using Spice.Common.MethodStatic
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Spice</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/jquery-ui.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="search-background">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="@Constant.Controller_Home" asp-action="@Constant.Action_Index">
                <img src="@Constant.ImageMildPath"/>
                <img src="@Constant.ImageSpicyPath"/>
                <img src="@Constant.ImageVerySpicyPath"/>
                <label class="text-info" style="cursor: pointer">Spice</label>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        @if (User.IsInRole(Constant.ManagerUser))
                        {
                            <li class="nav-item dropdown text-white-50">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropDownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Content Management
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropDownMenuLink">
                                    <a class="dropdown-item" asp-action="@Constant.Action_Index" asp-controller="@Constant.Controller_Category" asp-area="@Constant.Area_Admin">Category</a>
                                    <a class="dropdown-item" asp-action="@Constant.Action_Index" asp-controller="@Constant.Controller_SubCategory" asp-area="@Constant.Area_Admin">Sub Category</a>
                                    <a class="dropdown-item" asp-action="@Constant.Action_Index" asp-controller="@Constant.Controller_MenuItem" asp-area="@Constant.Area_Admin">Menu Item</a>
                                    <a class="dropdown-item" asp-action="@Constant.Action_Index" asp-controller="@Constant.Controller_Coupon" asp-area="@Constant.Area_Admin">Coupons</a>
                                    <a class="dropdown-item" asp-action="@Constant.Action_Index" asp-controller="@Constant.Controller_User" asp-area="@Constant.Area_Admin">Users</a>
                                </div>
                            </li>
                        }

                        @if (User.IsInRole(Constant.ManagerUser) || User.IsInRole(Constant.CustomerEndUser) || User.IsInRole(Constant.FrontDeskUser) || User.IsInRole(Constant.KitchenUser))
                        {
                            <li class="nav-item">
                                <a asp-area="@Constant.Area_Customer" asp-controller="@Constant.Controller_Order" asp-action="@Constant.Action_OrderHistory" class="nav-link">
                                    Order History
                                </a>
                            </li>
                        }

                        @if (User.IsInRole(Constant.KitchenUser) || User.IsInRole(Constant.FrontDeskUser) || User.IsInRole(Constant.ManagerUser))
                        {
                            <li class="nav-item dropdown text-white-50">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropDown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Order
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropDownMenuLink">
                                    @if (User.IsInRole(Constant.KitchenUser) || User.IsInRole(Constant.ManagerUser))
                                    {
                                        <a class="dropdown-item" asp-action="@Constant.Action_ManageOrder" asp-controller="@Constant.Controller_Order" asp-area="@Constant.Area_Customer">Manage Order</a>
                                    }
                                    @if (User.IsInRole(Constant.FrontDeskUser) || User.IsInRole(Constant.ManagerUser))
                                    {
                                        <a class="dropdown-item" asp-action="@Constant.Action_OrderPickup" asp-controller="@Constant.Controller_Order" asp-area="@Constant.Area_Customer">Order Pickup</a>
                                    }
                                </div>
                            </li>
                        }

                        @{
                            if (HttpContextAccessor.HttpContext.Session.GetInt32(Constant.Session_CartCount) != null)
                            {
                                MethodStatic.CartCount = HttpContextAccessor.HttpContext.Session.GetInt32(Constant.Session_CartCount).Value;
                            }
                        }
                        <li style="color: white">
                            <a asp-area="@Constant.Area_Customer" asp-controller="@Constant.Controller_Cart" asp-action="@Constant.Action_Index" class="nav-link">
                                <i class="fas fa-shopping-cart"></i> &nbsp; (@MethodStatic.CartCount)
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top pl-3 footer text-white-50" style="background-color: #343a40">
        <div class="container">
            &copy; 2020 - Spice
        </div>
    </footer>
    <script src="https://cdn.tiny.cloud/1/kt75fibj5sckxivts92z8n10ies403wcji4gog2wdjntvn2k/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
