@using Spice.Common;
@using Spice.Common.MethodStatic;
@model Spice.Models.ViewModels.IndexViewModel;

@{
    ViewData[Constant.Title] = Constant.Home;
}

<br />

@if (Model.Coupon.ToList().Count > 0)
{
    <div class="border" style="margin-bottom: 100px !important">
        <div class="carousel" data-ride="carousel" data-interval="2500">
            @for (int i = 0; i < Model.Coupon.ToList().Count; i++)
            {
                if (i == 0)
                {
                    <div class="carousel-item active">
                        @if (Model.Coupon.ToList()[i].Picture != null)
                        {
                            var picture = Convert.ToBase64String(Model.Coupon.ToList()[i].Picture);
                            var imgSrc = string.Format(Constant.ImageSourceBytesBase64 + "{0}", picture);
                            <img src="@imgSrc" height="50px" class="d-block w-100" />
                        }
                    </div>
                }
                else
                {
                    <div class="carousel-item">
                        @if (Model.Coupon.ToList()[i].Picture != null)
                        {
                            var picture = Convert.ToBase64String(Model.Coupon.ToList()[i].Picture);
                            var imgSrc = string.Format(Constant.ImageSourceBytesBase64 + "{0}", picture);
                            <img src="@imgSrc" height="50px" class="d-block w-100" />
                        }
                    </div>
                }
            }
        </div>
    </div>
}


<div class="backgroundWhite container">
    <ul id="menu-filters" class="menu-filter-list list-inline text-center">
        <li class="filter active btn btn-secondary ml-1 mr-1" data-filter="menu-restaurant">Show All</li>
        @foreach(var item in Model.Category)
        {
            <li class="filter ml-1 mr-1" data-filter="@MethodStatic.ToUnsignString(item.Name)">@item.Name</li>
        }
    </ul>


    @foreach (var category in Model.Category)
    {
        <div class="row" id="menu-wrapper">
            <partial name="@Constant.PartialView_ThumbnailAreaPartial" model="@Model.MenuItem.Where(x => x.Category.Name.Equals(category.Name))" />
        </div>
    }
</div>

@section Scripts{ 
    <script src="https://code.jquery.com/jquery-3.5.0.js" integrity="sha256-r/AaFHrszJtwpe+tHyNi/XCfMxYpbsRg2Uqn0x3s2zc=" crossorigin="anonymous"></script>
    <script>
        var posts = $('.post');

        $(document).ready(function () {
            $('#menu-filters li').click(function () {
                $('#menu-filters li').removeClass('active btn btn-secondary');
                $(this).addClass('active btn btn-secondary');

                var selectedFilter = $(this).data('filter');
                console.log(selectedFilter);
                $('.menu-restaurant').fadeOut();
                setTimeout(function () {
                    $('.' + selectedFilter).slideDown();
                }, 300);
            });
        });

    </script>
}

