@using Spice.Common
@model Spice.Models.ViewModels.OrderListViewModel

@{
    ViewData[Constant.Title] = Constant.OrderHistory;
    Layout = Constant.View_Layout;
}
<br />
<br />
<div class="border backgroundWhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Order History</h2>
        </div>
        <div class="col-6 text-right">
            <partial name="@Constant.PartialView_CreateButtonPartial" />
        </div>
    </div>
    <div>
        @if (Model.Orders.Count() > 0)
        {
            <table class="table table-striped border">
                <thead>
                    <tr class="table-secondary">
                        <th>@Html.DisplayNameFor(m => m.Orders[0].OrderHeader.Id)</th>
                        <th>@Html.DisplayNameFor(m => m.Orders[0].OrderHeader.PickupName)</th>
                        <th>@Html.DisplayNameFor(m => m.Orders[0].OrderHeader.ApplicationUser.Email)</th>
                        <th>@Html.DisplayNameFor(m => m.Orders[0].OrderHeader.PickupTime)</th>
                        <th>@Html.DisplayNameFor(m => m.Orders[0].OrderHeader.OrderTotal)</th>
                        <th>Total items</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Orders)
                    {
                        <tr>
                            <td>@item.OrderHeader.Id</td>
                            <td>@item.OrderHeader.PickupName</td>
                            <td>@item.OrderHeader.ApplicationUser.Email</td>
                            <td>@item.OrderHeader.PickupTime</td>
                            <td>@item.OrderHeader.OrderTotal</td>
                            <td>@item.OrderDetails.Count</td>
                            <td>
                                <button type="submit" class="btn btn-success anchorDetail" data-id="@item.OrderHeader.Id" data-toggle="modal">
                                   <i class="far fa-list-alt"></i> &nbsp;  Details
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
            <div page-model="@Model.PagingInfo" page-classes-enabled="true" page-class="btn border"
                 page-class-normal="btn btn-light" page-class-selected="btn btn-info active" class="btn-group float-right">
            </div>
            <br />
        }
        else
        {
            <p>No Category exists...</p>
        }
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog-centered modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success text-light justify-content-center">
                <h5 class="modal-title">Order Details</h5>
            </div>
            <div class="modal-body justify-content-center" id="myModalContent">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" style="width: 20%" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{ 
    <script>
        $(function () {
            $('.anchorDetail').click(function () {
                var $buttonClicked = $(this);
                var id = $buttonClicked.attr('data-id');

                var param = {
                    id: id
                };

                $.ajax({
                    type: '@Constant.HttpMethod_GET',
                    url: '/@Constant.Area_Customer/@Constant.Controller_Order/@Constant.Action_GetOrderDetails',
                    data: param,
                    cache: false,
                    dataType: '@Constant.DataType_Html',
                    success: function (data) {
                        debugger;
                        $('#myModalContent').html(data);
                        $('#myModal').modal('show');
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                        alert(xhr.status);
                        alert(thrownError);
                    }
                });
            });

        });
    </script>

}